[submodule "puppet/modules/logstash"]
	path = puppet/modules/logstash
	url = https://github.com/elasticsearch/puppet-logstash
[submodule "puppet/modules/elasticsearch"]
	path = puppet/modules/elasticsearch
	url = https://github.com/elasticsearch/puppet-elasticsearch
[submodule "puppet/modules/file_concat"]
	path = puppet/modules/file_concat
	url = https://github.com/electrical/puppet-lib-file_concat
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = https://github.com/example42/puppi
[submodule "puppet/modules/stdmod"]
	path = puppet/modules/stdmod
	url = https://github.com/stdmod/stdmod
[submodule "puppet/modules/puppet-kibana4"]
	path = puppet/modules/puppet-kibana4
	url = https://github.com/lesaux/puppet-kibana4
