[submodule "puppet/modules/logstash"]
	path = puppet/modules/logstash
	url = https://github.com/elasticsearch/puppet-logstash
[submodule "puppet/modules/elasticsearch"]
	path = puppet/modules/elasticsearch
	url = https://github.com/elasticsearch/puppet-elasticsearch
[submodule "puppet/modules/puppet-lib-file_concat"]
	path = puppet/modules/puppet-lib-file_concat
	url = https://github.com/electrical/puppet-lib-file_concat
